# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite 빌드 결과물
dist/
*.local

# 환경 변수 파일
.env
.env.local
.env.*.local

# IDE/에디터 관련
.vscode/
.idea/
*.swp
*.swo

# OS별 불필요 파일
.DS_Store
Thumbs.db